header {
  text-align: center;
  background-color: rgb(35, 45, 63);
  padding: 10px;
  font-size: x-large;
}

h2 {
  font-size: xx-large;
}

body {
  background-color: rgb(15, 15, 15);
  text-align: center;
  color: rgb(100, 229, 212);
}

#controlPanel {
  padding: 10px;
  background-color: rgb(0, 91, 65);
  width: fit-content;
  margin: auto;
}

#startPanel, #continuePanel {
  padding: 10px;
}

button {
  background-color: rgb(0, 129, 112);
  padding: 3px;
  font-size: medium;
}

.start-button {
  font-size: x-large;
  display: inline;
}

canvas {
  background-color: rgb(45, 45, 45);
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#scoreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px; /* Match the canvas width */
  margin: 0 auto 10px auto; /* Center the container and add bottom margin */
  font-size: 2rem;
  color: rgb(53, 162, 159); /* Match your existing text color */
}

.score {
  width: 100px;
  text-align: center;
  padding: 10px;
}