header {
  text-align: center;
  background-color: rgb(255, 204, 234); /* COLOR 1 */
  padding: 10px;
  font-size: x-large;
}

h2 {
  font-size: xx-large;
}

body {
  background-color: rgb(205, 193, 255); /* COLOR 2 */
  text-align: center;
  color: rgb(85, 0, 85); /* COLOR 3 */
}

#controlPanel {
  padding: 10px;
  background-color: rgb(255, 204, 234); /* COLOR 1 */
  width: fit-content;
  margin: auto;
}

#startPanel, #continuePanel {
  padding: 10px;
}


button {
  background-color: rgb(191, 236, 255); /* COLOR 4 */
  color: rgb(85, 0, 85); /* COLOR 3 */
  padding: 3px;
  font-size: medium;
}

#startButton {
  font-size: x-large;
  display: inline;
}

canvas {
  background-color: rgb(222, 216, 249); /* COLOR 6 */
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#scoreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px; /* Match the canvas width */
  height: 50px;
  margin: 0 auto 10px auto; /* Center the container and add bottom margin */
  font-size: 2rem;
  color: rgb(85, 0, 85); /* Match your existing text color */ /* COLOR 3 */
}

.score {
  width: 100px;
  text-align: center;
}

#menu {
  position: fixed;
  z-index: 1000;
  top: 20%;
  right: 32%;
  padding: 20px;
  width: 35%;
  height: 45%;
  min-height: fit-content;
  background-color: rgb(255, 246, 227); /* COLOR 5 */
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#pauseContainer {
  visibility: hidden;
}

#continuePanel[data-state="menu"] {
  display: none;
}

#continuePanel[data-state="pause"] {
  display: block;
}

#startContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#instructionContainer {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 82%;
  bottom: 1%;
  right: 32%;
  padding: 20px;
  width: 35%;
  background-color: rgb(255, 246, 227); /* COLOR 5 */
  opacity: 0.5;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}